<!doctype html>
<html>
<head>
<meta charset="utf-8">
<TITLE>论坛</TITLE>
<Link rel="stylesheet" type="text/css" href="style/style.css" />
<script type="text/javascript" src="js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
</HEAD>

<BODY>

<DIV>
	<IMG src="image/logo.gif">
</DIV>
<!--      用户信息、登录、注册        -->

<DIV class="h">
	<span v-if="loginedUser.uname">欢迎 {{loginedUser.uname}}</span>
	<span v-else>您尚未　<a href="login.html">登录</a></span>
	&nbsp;| &nbsp; <A href="reg.html">注册</A> |
</DIV>
<script type="text/javascript">
var vue1 = new Vue({
	el : ".h",
	data : {
		loginedUser : {}
	},
	// 事件钩子函数, 当创建好 vue1 对象之后, 立即执行的代码
	created : function() {
		var url = "GetLoginedUserServlet";
		$.post(url, null, function(data){
			// 获取登录的用户名, 服务器会返回 null 字符串值 
			if(data != "null"){
				vue1.$data.loginedUser = JSON.parse(data);
			}
		});
	}
});

</script>

<!--      主体        -->
<DIV class="t">
	<TABLE cellSpacing="0" cellPadding="0" width="100%">
		<TR class="tr2" align="center">
			<TD colSpan="2">论坛</TD>
			<TD style="WIDTH: 10%;">主题</TD>
			<TD style="WIDTH: 30%">最后发表</TD>
		</TR>
	<template v-for=" b in list ">
		<!--       主版块       -->
		<TR v-if="showParent(b.pname)" class="tr3">
			<TD colspan="4">{{b.pname}}</TD>
		</TR>
		<!--       子版块       -->
		<TR class="tr3">
			<TD width="5%">&nbsp;</TD>
			<TH align="left">
				<IMG src="image/board.gif">
				<A v-bind:href="  'list.html#' + b.boardid">{{b.bname}}</A>
			</TH>
			<TD align="center">{{b.cnt}}</TD>
			<TH>
				<SPAN>
					<A v-bind:href="  'detail.html#' + b.topicid">{{b.title}} </A>
				</SPAN>
				<BR/>
				<SPAN>{{b.uid}}</SPAN>
				<SPAN class="gray">[ {{b.publishtime}} ]</SPAN>
			</TH>
		</TR>
	</template>
	</TABLE>
</DIV>

<script type="text/javascript">

var currentBoardName = null;// 循环时, 当前的板块名

var vue2 = new Vue( { 
	el : ".t",   // 将 vue 对象与 dataTable 进行绑定
	data : {
		list : [],		 // 定义要展示的数据, js 的数组 用 [] 定义
	},
	created : function(){
		var url = "IndexServlet";
		$.get(url, null, function(json){  // 匿名函数
			// 将json字符串转成js对象(当前是数组)
			// 赋值给 vue data 中 list 数组
			vue2.$data.list = JSON.parse(json); 
		});
	},
	methods : {
		showParent(pname){
			// 如果当前行的父板块等于 currentBoardName 那就不用显示父板块
			if(pname == currentBoardName){
				return false;
			} else {
				// 将当前行父板块名称赋值给 currentBoardName
				currentBoardName = pname;
				// 返回 true 表示要显示父板块
				return true;
			}
		}
	}
} );

</script>

<BR/>
<CENTER class="gray">源辰信息</CENTER>
</BODY>
</HTML>
